body{
    background-image:url(../img/fondo.jpg);
    background-repeat: repeat;
    background-size: 100vw;
    background-attachment: fixed;
}
#principal{
    top: 0;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vw;
}
#texto{
    border-radius: 1em;
    background:rgba(0, 0, 0, 0.4); 
    opacity: 0.8;
    padding: 1ex; 
    margin-left: 20vw;
    margin-right: 20vw;
}
.texto{
    font-family: texto;
    color: #00e5e5;
    font-size: 1.5em;
}
.Titulo{
    font-size: 3em;
    font-family: logo;
    text-align: center;
    color: rgb(191, 152, 227);
}
@font-face {
    font-family: logo;
    src: url(../fonts/FoundationLogo-v0.3.ttf);
}
@font-face {
    font-family: texto;
    src: url(../fonts/Android\ Italic.ttf);
}